#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors/rgbled_widget.dtsi>

/ {
    combos {
        compatible = "zmk,combos";
        combo_studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&studio_unlock>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

// -------------------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |                    |  Y  |  U  |  I  |  O  |  P  | BSLS |
// | C/TB |  A  |  S  |  D  |  F  |  G  |                    |  H  |  J  |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |  MUTE | NONE |      |  N  |  M  |  ,  |  .  |  /  | RGUI |
//                    | MO2 | MO1 | SPC |                    | ENT | BSPC | ALT |
           bindings = <
&kp ESC       &kp Q &kp W &kp E &kp R &kp T                      &kp Y     &kp U     &kp I     &kp O   &kp P    &kp BACKSLASH
&mt LCTRL TAB &kp A &kp S &kp D &kp F &kp G                      &kp H     &kp J     &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT     &kp Z &kp X &kp C &kp V &kp B     &kp C_MUTE &none &kp N     &kp M     &kp COMMA &kp DOT &kp FSLH &kp RGUI
                          &mo 2 &mo 1 &kp SPACE                  &kp ENTER &kp BSPC  &kp RALT
            >;
        };

        lower_layer {
            display-name = "lower";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

// ------------------------------------------------------------------------------------------------
// |   ~  |  !  |  @  |  #  |  $  |  %  |                    |  ^  |  &  |  *  |  (  |  )  | BAT  |
// |  [   |  ]  | TRN | TRN | TRN | TRN |                    | LFT | DWN |  UP | RGT |  -  |  =   |
// |  F1  | F2  | F3  | F4  | F5  | F6  | BOOT | NONE |      | F7  | F8  | F9  | F10 | F11 |  F12 |
//                    | TRN | TRN | TRN |                    | TRN | DEL | TRN |
            bindings = <
&kp TILDE         &kp LS(NUMBER_1)   &kp LS(NUMBER_2)  &kp LS(N3)  &kp LS(N4) &kp LS(N5)                   &kp LS(N6) &kp LS(N7) &kp LS(N8)    &kp LS(N9)  &kp LS(N0) &ind_bat
&kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans            &trans      &trans     &trans                       &kp LEFT   &kp DOWN   &kp UP_ARROW  &kp RIGHT   &kp MINUS  &kp EQUAL
&kp F1            &kp F2             &kp F3            &kp F4      &kp F5     &kp F6     &bootloader &none &kp F7     &kp F8     &kp F9        &kp F10     &kp F11    &kp F12
                                                       &trans      &trans     &trans                       &trans     &kp DEL    &trans
            >;
        };

        raise_layer {
            display-name = "raise";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

// ------------------------------------------------------------------------------------------------
// |  `   |  1  |  2  |  3  |  4  |  5  |                    |  6  |  7  |  8  |  9  |  0  | CON  |
// |  {   |  }  | TRN | TRN | TRN | TRN |                    | LFT | DWN |  UP | RGT |  _  |  +   |
// | TRN  | TRN | TRN | TRN | TRN | TRN | NONE | BOOT |      | TRN | TRN | TRN | TRN | TRN | TRN  |
//                    | TRN | TRN | TRN |                    | TRN | TRN | TRN |
            bindings = <
&kp GRAVE             &kp NUMBER_1           &kp NUMBER_2   &kp N3   &kp N4   &kp N5                      &kp N6     &kp N7     &kp N8        &kp N9     &kp N0         &ind_con
&kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &trans         &trans   &trans   &trans                      &kp LEFT   &kp DOWN   &kp UP_ARROW  &kp RIGHT  &kp LS(MINUS)  &kp LS(EQUAL)
&trans                &trans                 &trans         &trans   &trans   &trans    &none &bootloader &trans     &trans     &trans        &trans     &trans         &trans
                                                            &trans   &trans   &trans                      &trans     &trans     &trans
            >;
        };

        extra1 {
            display-name = "extra1";
            status = "reserved";
        };

        extra2 {
            display-name = "extra2";
            status = "reserved";
        };
    };
};
